.container {
    padding: 16px;
    background: #141414;
    min-width: 537px;
    border-radius: 8px;
    position: relative;
    border: 1px solid #303030;

    .icon-close {
        position: absolute;
        color: white;
        font-size: 24px;
        margin: 0;
        top: 12px;
        right: 12px;
        font-family: "Inter", sans-serif;
        transition: all 0.3s ease-in-out;

        &:hover {
            opacity: 0.7;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }
    }

    .title {
        margin: 0 0 44px 0;
        color: #FFF;
        font-family: "Inter", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 12px;
    }
    
    .table {
        display: flex;
        flex-direction: column;
        width: 100%;

        :first-child {
            margin-bottom: 10px;
        }
        
        .grid {
            display: grid;
            background: #121212;
            grid-template-columns: 1fr 1fr 1fr;
            padding: 10px;
            gap: 10px;
            border-radius: 8px;
            
            p {
                margin: 0;
                color: #FFF;
                font-size: 16px;
                font-weight: 400;
                font-family: "Inter", sans-serif;
            }
        }
    }
}