:host {
  color: #fff !important;
  .select-menu {
    width: auto;
    max-width: 15vw;
    min-width: 150px;
  }
  .select-menu .select-btn {
    display: flex;
    height: auto;
    background-color: #222;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.1);
  }
  .select-btn i {
    font-size: 1rem;
    transition: 0.3s;
  }
  .select-menu.active .select-btn i {
    transform: rotate(180deg);
  }
  .select-menu .options {
    position: relative;
    padding: 0.25rem;
    background-color: rgba(15, 15, 15, 0.9);
    border-radius: 0.5rem;
    margin: 0.15rem 0 0 0;
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.1);
    display: none;
  }
  .select-menu.active .options {
    display: block;
    width: 10vw;
    min-width: 150px;
    position: absolute;
    z-index: 9998;
  }
  .options .option {
    display: flex;
    height: auto;
    cursor: pointer;
    padding: 1rem;
    align-items: center;
    border-radius: 0.5rem;
    background-color: 0 0 0.3rem rgba(0, 0, 0, 0.1);
    transition: 0.25s ease-in-out;
  }
  .options .option:hover {
    background-color: var(--color-primary);
    color: #000;
  }
  .option i {
    font-size: 1.75rem;
    margin: 0 0.875rem 0 0;
  }
  .option .option-text {
    font-size: 1rem;
  }

  .container {
    background-color: #171717;
    padding: 2rem;
    border-radius: 0.5rem;
    margin: 0.5rem 0 5rem 0;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;

    .check {
      display: flex;
      gap: 1rem;
      align-items: center;
      padding: 0.5rem 0;
      font-weight: 300;

      .text {
        width: 12vw;
        min-width: 100px;
      }

      .switch input {
        display: none;
      }
      .switch .slider {
        position: relative;
        display: inline-block;
        width: 56px;
        height: 22px;
        background-color: #1e1e1e;
        border-radius: 34px;
        transition: background-color 0.3s;
      }

      .switch input:checked + .slider {
        background-color: var(--color-primary);
      }

      .switch .slider:before {
        position: absolute;
        content: "";
        height: 22px;
        width: 22px;
        background-color: white;
        border-radius: 50%;
        transition: transform 0.3s;
      }

      .switch input:checked + .slider:before {
        box-shadow: 0 0 1rem var(--color-primary);
        transform: translateX(36px);
      }
    }

    .pad-vert-1 {
      padding: 1rem 0;
    }
    .pad-vert-2 {
      padding: 2rem 0;
    }
    .pad-vert-3 {
      padding: 4rem 0;
    }

    hr {
      border: none;
      height: 2px;
      background-color: #1e1e1e;
      margin: 10px 0;
    }

    .container-box {
      display: flex;
      gap: 1rem;

      .content {
        padding: 1rem;
        flex: 1;
        background-color: #161616;
        border-radius: 0.5rem;

        p {
          margin: 0;
        }

        input {
          background-color: #1e1e1e;
          padding: 1rem;
          border-radius: 0.5rem;
          border: 1px solid transparent;
          color: #fff;
          transition: 0.5s ease-in-out;
          width: calc(100% - 35px);
          margin: 1rem 0;

          &:hover,
          &:active,
          &:focus {
            border: 1px solid var(--color-primary);
          }
          &:disabled {
            color: #8c8c8c;
          }
        }
        input[type="time"]::-webkit-calendar-picker-indicator {
          filter: invert(1);
        }
        .flex-2 {
          display: flex;
          gap: 0.5rem;
          div {
            flex: 1;
          }
        }
      }
    }

    .btn {
      display: flex;
      justify-content: flex-end;
      padding: 1.5rem 0 0 0;
      button {
        background-color: var(--color-primary);
        padding: 0.75rem 2.5rem;
        border-radius: 0.5rem;
        border: none;
        outline: none;
        color: #fff;
        font-weight: 700;
        text-shadow: 0 0 0.09rem #333;
        transition: 0.4s ease-in-out;
        cursor: pointer;

        &:hover {
          box-shadow: 0 0 0.5rem var(--color-primary);
        }
      }
    }
  }
  @media screen and (max-width: 1100px) {
    .container {
      .container-box {
        flex-direction: column;

        .content {
          .flex-2 {
            flex-direction: column;
          }
        }
      }
    }
  }
}
