:host {
  .dialog {
    color: #fff;
    background-color: #171717;
    padding: 1.75rem;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 0 1.5rem 0;

      .title {
        font-size: 1.25rem;
        font-weight: 700;
      }

      .close {
        font-size: 1.75rem;
        cursor: pointer;
      }
    }

    textarea {
      background-color: #151515;
      border: 1px solid transparent;
      border-radius: 0.5rem;
      outline: none;
      padding: 1.5rem 1rem;
      color: #fff;
      width: calc(100% - 35px);
      transition: 0.4s ease-in-out;
      font-family: "Poppins", sans-serif;

      &:hover {
        border: 1px solid var(--color-primary);
      }
    }

    small {
      color: #777;
      font-weight: 700;
      padding: 0.75rem 0;
    }

    p {
      color: #858585;
      font-weight: 600;
    }

    .btn {
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
      padding: 1rem 0 0 0;

      .close {
        background-color: #272727;
        padding: 0.5rem 2rem;
        font-weight: 700;
        color: #999;
        border: none;
        outline: none;
        border-radius: 0.25rem;
        cursor: pointer;
      }
      .save {
        background-color: var(--color-primary);
        padding: 0.5rem 2rem;
        color: #fff;
        font-weight: 700;
        border: none;
        outline: none;
        border-radius: 0.25rem;
        text-shadow: 0 0 0.3em rgba(0, 0, 0, 0.25);
        cursor: pointer;
      }
    }
  }
}
