:host {
  color: #fff;

  hr {
    border: none;
    border-top: 1px solid #272727;
    border-bottom: #0e0e0e;
    margin: 1rem 0;
  }

  .container {
    background-color: #171717;
    padding: 2rem;
    border-radius: 0.5rem;
    font-size: 1rem;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .title {
        font-size: 1.25rem;
        font-weight: 700;
      }

      button {
        background-color: var(--color-primary);
        padding: 0.75rem 1.5rem;
        border-radius: 0.5rem;
        outline: none;
        border: none;
        font-weight: 700;
        color: #fff;
        text-shadow: 0 0 0.3em rgba(0, 0, 0, 0.25);
      }
    }
    p {
      font-weight: 700;
    }

    .check {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      align-items: center;
      max-width: 25vw;
      padding: 0.5rem 0;
      font-weight: 300;

      .text {
        width: auto;
      }

      .switch input {
        display: none;
      }
      .switch .slider {
        position: relative;
        display: inline-block;
        width: 56px;
        height: 22px;
        background-color: #1e1e1e;
        border-radius: 34px;
        transition: background-color 0.3s;
      }

      .switch input:checked + .slider {
        background-color: var(--color-primary);
      }

      .switch .slider:before {
        position: absolute;
        content: "";
        height: 22px;
        width: 22px;
        background-color: white;
        border-radius: 50%;
        transition: transform 0.3s;
      }

      .switch input:checked + .slider:before {
        box-shadow: 0 0 1rem var(--color-primary);
        transform: translateX(36px);
      }
    }
  }

  .supportList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 1rem 0;

    .supportContainer {
      background-color: #171717;
      border-radius: 0.5rem;
      padding: 1.5rem;

      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
          font-size: 0.875rem;
          font-weight: 300;
        }

        .status {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          font-weight: 200;
          gap: 0.5rem;
          text-transform: uppercase;

          .active {
            background-color: var(--color-primary);
            width: 10px;
            height: 10px;
            border-radius: 50%;
            box-shadow: 0 0 0.3em var(--color-primary);
          }

          .disable {
            background-color: red;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            box-shadow: 0 0 0.3em red;
          }
        }
      }
      main {
        text-align: center;
        font-size: 1rem;
        padding: 1rem;
        margin: 1rem 0;
        font-weight: 600;
        background-color: #151515;
        border-radius: .45rem;

        p{
          margin: 0;
        }
      }
      .btn {
        display: flex;
        justify-content: center;
        button {
          background-color: var(--color-primary);
          border-radius: 0.4rem;
          padding: 0.75rem 2rem;
          font-weight: 700;
          color: #fff;
          text-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
          border: none;
          outline: none;
          cursor: pointer;
        }
      }
    }
  }

  @media screen and (max-width: 1200px) {
    .check {
      max-width: 100% !important;
    }
  }
}
