:host {
  table {
    width: 100%;

    .center {
      text-align: center !important;
    }

    thead {
      tr {
        background: #171717;

        th {
          color: #7F7F7F;
          font-family: "Inter", sans-serif;
          font-size: 1rem;
          padding: 10px 30px;
          font-style: normal;
          text-align: left;
          font-weight: 600;
          line-height: normal;
          border-bottom: solid #444444 2px;
        }
      }
    }

    tbody {
      background: #2e2e2e;
      border-radius: 1px;
      color: #fff;

      .expandedRow {
        td {
          background-color: #202020;
        }
      }

      tr {
        td {
          border-bottom: 1px solid #000000;
          padding: 15px 30px;

          .arrow {
            color: var(--color-primary);
            font-size: 1.5rem;
            text-align: center;
          }

          .green {
            color: var(--color-primary);
          }
          .red {
            color: #e52274;
          }

          .row {
            display: flex;
            padding-left: 1rem;
            flex-direction: row;
            align-items: center;

            .circle--dot {
              width: 0.8rem;
              height: 0.8rem;
              border-radius: 50%;
              background: white;
              margin-right: 0.6rem;
            }

            p {
              margin: 0;
              color: white;
              font-size: 0.8rem;
              font-weight: 500;
            }
          }

          &.column {
            p {
              margin: 0;
              color: white;
              font-size: 1rem;
              font-weight: 500;
              overflow: hidden;
              max-width: 13rem;
              white-space: nowrap;
              text-overflow: ellipsis;

              &:first-child {
                font-size: 1rem;
                font-weight: bold;
              }

              &:last-child {
                margin-top: 4px;
                font-size: 0.8rem;
              }
            }

            .expanded {
              color: #909090;
              font-weight: 400;
            }
          }
          .account-type {
            background-color: #111;
            font-size: 0.875rem;
            font-weight: 600;
            padding: 15px;
            border-radius: 10px;
          }
          &.email {
            width: 25%;
          }
          &.email2 {
            width: 70%;
          }
          .select-container {
            display: flex;
            justify-content: center;
            position: relative;
            width: 150px;
            box-sizing: border-box;

            .select-box {
              background-color: #111;
              border: 1px solid transparent;
              outline: 1px solid transparent;
              appearance: none;
              padding: 15px;
              width: 100%;
              color: #fff;
              font-size: 1rem;
              border-radius: 10px;
              transition: all ease-in-out 0.3s;
            }
          }

          &.status {
            text-align: center;

            p {
              color: var(--color-primary);
            }
          }

          &.account--button {
            max-width: 6.6rem;

            app-default-button {
              pointer-events: none;
            }
          }

          &:first-child {
            padding-left: 2rem;
          }

          &:last-child {
            padding-right: 2rem;
          }
        }
      }
      tr:hover {
        background-color: #202020;
      }
    }
  }
  .footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    background: #2e2e2e;
    justify-content: flex-end;
  }
}
